.form_container{
    width: 30%;
    
}

.login,.signup{
    background: linear-gradient(to bottom, #0000ff, #040463, #03031f);
}

.custom-input{
    height: 45px;
}


@media screen and (max-width:1000px){
    .form_container{
        width:45%;
    }
}
@media screen and (max-width:700px){
    .form_container{
        width:65%;
    }
}